<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1><%= title %></h1>
    <table border="1">
      <tr>
        <th>
            sno
           </th>
           <th>reg</th>
           <th>name</th>
           <th>mobile</th>
           <th>s_marks</th>
           <th>email</th>
         </tr>
      </tr>
      <% rows.forEach((row)=>{  %>
          <tr>
            <td><%=row.sno %></td>
            <td><%=row.regno %></td>           
            <td><%=row.name %></td>            
            <td><%=row.mobile %></td>            
            <td><%=row.s_marks %></td>           
            <td><%=row.email %></td>
          </tr>
      <% }) %>
    </table>
  </body>
</html>
